.inline-list {
  display: inline-flex;
  margin-top: 1em;
}

.scheduler {
  table-layout: fixed;
  th {
    white-space: nowrap;
  }
  tbody {
    tr {
      height: 3.5em;
    }
    td {
      padding-right: 0;
      padding-left: 0;

      div {
        color: whitesmoke;
      }
    }
  }
}

.event {
  border: dimgray dotted 2px;
  cursor: pointer;
}
