<table class="table table-bordered table-responsive scheduler">

  <thead class="thead-light">
  <tr>
    <th></th>
    <th *ngFor="let date of daysOfYear">{{date | date: 'dd/MMM'}}</th>
  </tr>
  </thead>

  <tbody>
  <ng-container cdkDropListGroup>
    <tr *ngFor="let line of lines">
      <th>{{line.name}}</th>
      <td *ngFor="let date of daysOfYear"
          #day id="{{date.getTime()}}"
          [style.border-left]="isToday(date) ? 'black 2px dotted' : ''"
          cdkDropList
          (cdkDropListDropped)="onEventDropped($event, date, line)"
          [cdkDropListData]="getDateEventDataAsArray(line, date)">
        <ng-container *ngIf="getDateEventData(line, date); let eventData">
          <div class="event"
               cdkDrag
               [cdkDragData]="eventData"
               [style.width.%]="((eventData?.duration?.days || 1) * 100) + ((eventData?.duration?.days || 0 )+ 2)"
               [style.background]="eventData?.color"
               *ngIf="eventData?.lineId === line.id">
            {{eventData?.name}}
          </div>
        </ng-container>
      </td>
    </tr>
  </ng-container>
  </tbody>

</table>
