<table class="table table-bordered table-responsive scheduler">
  <thead class="thead-light">
  <tr>
    <th>Sección</th>
    <th *ngFor="let date of daysOfYear">{{date | date: 'dd/MMM'}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Línea 1</th>
    <ng-container cdkDropListGroup>
      <td *ngFor="let date of daysOfYear"
          cdkDropList
          (cdkDropListDropped)="onEventDropped($event, date)"
          [cdkDropListData]="eventsData.get(getDayOfYear(date))">
        <div cdkDrag
             [cdkDragData]="eventsData.get(getDayOfYear(date))[0]"
             [style.width.%]="(eventsData.get(getDayOfYear(date))[0].duration.days * 100)"
             style="background-color: cornflowerblue; border: dimgray dotted 2px"
             *ngIf="eventsData.get(getDayOfYear(date)).length">
          {{eventsData.get(getDayOfYear(date))[0]?.name}}
        </div>
      </td>
    </ng-container>
  </tr>
<!--  <tr>-->
<!--    <th>Línea 2</th>-->
<!--    <ng-container cdkDropListGroup>-->
<!--      <td *ngFor="let date of daysOfYear"-->
<!--          cdkDropList-->
<!--          (cdkDropListDropped)="onEventDropped($event)"-->
<!--          [cdkDropListData]="eventsData.get(getDayOfYear(date))">-->
<!--        <div cdkDrag-->
<!--             [style.width.%]="(eventsData.get(getDayOfYear(date))[0].duration.days * 100)"-->
<!--             style="background-color: darkseagreen; border: dimgray dotted 2px"-->
<!--             *ngIf="eventsData.get(getDayOfYear(date)).length">-->
<!--          {{eventsData.get(getDayOfYear(date))[0]?.name}}-->
<!--        </div>-->
<!--      </td>-->
<!--    </ng-container>-->
<!--  </tr>-->
  </tbody>
</table>
